<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel='stylesheet' href="style.css" />
    <title>Catmash</title>
</head>
<body>
    <center>
        <h1>Cat Mash</h1>
        {{{body}}}
    </center>
</body>
</html>